<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dominando.android.livroandroidcap7_view" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExemploTextoCoresActivity"
            android:label="@string/title_activity_exemplo_texto_cores" >
        </activity>
        <activity
            android:name=".ExemploAutoCompleteTextViewActivity"
            android:label="@string/title_activity_exemplo_auto_complete_text_view" >
        </activity>
        <activity
            android:name=".ExemploImageButtonActivity"
            android:label="@string/title_activity_exemplo_image_button" >
        </activity>
        <activity
            android:name=".ExemploToggleButtonActivity"
            android:label="@string/title_activity_exemplo_toggle_button" >
        </activity>
        <activity
            android:name=".ExemploCheckRadioFormActivity"
            android:label="@string/title_activity_exemplo_check_radio_form" >
        </activity>
        <activity
            android:name=".ExemploSpinnerActivity"
            android:label="@string/title_activity_exemplo_spinner" >
        </activity>
        <activity
            android:name=".ExemploProgressDialogActivity"
            android:label="@string/title_activity_exemplo_progress_dialog" >
        </activity>
        <activity
            android:name=".ExemploProgressBarActivity"
            android:label="@string/title_activity_exemplo_progress_bar" >
        </activity>
        <activity
            android:name=".ExemploToastActivity"
            android:label="@string/title_activity_exemplo_tost" >
        </activity>
        <activity
            android:name=".ExemploAlertDialogActivity"
            android:label="@string/title_activity_exemplo_alert_dialog" >
        </activity>
        <activity
            android:name=".ExemploListViewActivity"
            android:label="@string/title_activity_exemplo_list_view" >
        </activity>
        <activity
            android:name=".ExemploListViewCostumazadoActivity"
            android:label="@string/title_activity_exemplo_list_view" >
        </activity>
        <activity
            android:name=".ExemploGridViewActivity"
            android:label="@string/title_activity_exemplo_grid_view" >
        </activity>
        <activity
            android:name=".ExemploGalleryActivity"
            android:label="@string/title_activity_exemplo_gallery" >
        </activity>
        <activity
            android:name=".ExemploPagerViewActivity"
            android:label="@string/title_activity_exemplo_pager_view" >
        </activity>
        <activity
            android:name=".ExemploViewPagerTabStripActivity"
            android:label="@string/title_activity_exemplo_view_pager_tab_strip" >
        </activity>
        <activity
            android:name=".ExemploViewPagerTitleStripActivity"
            android:label="@string/title_activity_exemplo_view_pager_title_strip" >
        </activity>
        <activity
            android:name=".ExemploImageSwitcherActivity"
            android:label="@string/title_activity_exemplo_image_switcher" >
        </activity>
        <activity
            android:name=".ExemploWebViewActivity"
            android:label="@string/title_activity_exemplo_web_view" >
        </activity>
        <activity
            android:name=".ExemploTouchScreenViewActivity"
            android:label="@string/title_activity_exemplo_touch_screen_view" >
        </activity>
        <activity
            android:name=".ExemploMinhaCanvasActivity"
            android:label="@string/title_activity_exemplo_minha_canvas" >
        </activity>
    </application>

</manifest>
