<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luciano.silva.oficinaandroid" >

    <!-- Include required permissions for Google Mobile Ads to run. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".textView.FontesActivity"
            android:label="@string/title_activity_fontes"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".textView.AutoLinkActivity"
            android:label="@string/title_activity_auto_link"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".textView.AutoLinkChamadaActivity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="luciano" />
            </intent-filter>
        </activity>
        <activity
            android:name=".textView.PaintFlagActivity"
            android:label="@string/title_activity_paint_flags"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".textView.BackgroundActivity"
            android:label="@string/title_activity_background"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".textView.HTMLActivity"
            android:label="@string/title_activity_HTML"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".wizard.BlankActivity"
            android:label="@string/title_activity_blank"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.luciano.silva.oficinaandroid.MainActivity" />
        </activity>
        <activity android:name=".wizard.EmptyActivity" >
        </activity>
        <activity
            android:name=".wizard.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:parentActivityName=".MainActivity"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.luciano.silva.oficinaandroid.MainActivity" />
        </activity>
        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".wizard.AdMobBannerActivity"
            android:label="@string/title_activity_ad_mob_banner"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.luciano.silva.oficinaandroid.MainActivity" />
        </activity> <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".wizard.AdMobIntersititialActivity"
            android:label="@string/title_activity_ad_mob_intersititial"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.luciano.silva.oficinaandroid.MainActivity" />
        </activity>
        <activity
            android:name=".wizard.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.luciano.silva.oficinaandroid.MainActivity" />
        </activity>
        <activity
            android:name=".wizard.NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.luciano.silva.oficinaandroid.MainActivity" />
        </activity>
        <activity
            android:name=".wizard.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.luciano.silva.oficinaandroid.MainActivity" />
        </activity>
        <activity
            android:name=".wizard.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.luciano.silva.oficinaandroid.MainActivity" />
        </activity>
        <activity
            android:name=".wizard.TabbedSwipeViewsActivity"
            android:label="@string/title_activity_tabbed_swipe_views"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.luciano.silva.oficinaandroid.MainActivity" />
        </activity>
        <activity
            android:name=".wizard.TabbedActionBarTabsActivity"
            android:label="@string/title_activity_tabbed_action_bar_tabs"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.luciano.silva.oficinaandroid.MainActivity" />
        </activity>
        <activity
            android:name=".wizard.TabbedActionBarSpinnerActivity"
            android:label="@string/title_activity_tabbed_action_bar_spinner"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.luciano.silva.oficinaandroid.MainActivity" />
        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".wizard.MapsActivity"
            android:label="@string/title_activity_maps" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.luciano.silva.oficinaandroid.MainActivity" />
        </activity>
        <activity
            android:name=".webView.WebViewSimplesActivity"
            android:label="@string/title_activity_webview"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.luciano.silva.oficinaandroid.MainActivity" />
        </activity>
        <activity android:name=".webView.WebViewSwipeRefreshActivity" >
        </activity>
        <activity android:name=".webView.WebViewInterceptandoActivity" >
        </activity>
        <activity android:name=".webView.WebViewJavaScriptWithAndroidActivity" >
        </activity>
    </application>

</manifest>
